body {
    background-color: darkblue;
}
#amanonagare_index_html {
    margin: 16px;
    padding: 32px;
    border: 8px solid lightblue;
    background-color: cornflowerblue;
}
.amanonagare_index_html_window {
    margin: 32px 16px;
    padding: 16px;
    border: 8px outset rgb(201, 201, 0);
    background-color: aliceblue;
}
